@import '../variables';
@import '../mixins';

.notice-added-to-cart {
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    background: rgba(26, 26, 26, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 14px 20px;
    animation: show-notices 3s ease-in-out;
    z-index: 20;
    white-space: nowrap;

    span {
        @include checkmark($color-white, 12px, 2px);
        position: relative;
        display: block;
        width: 15px;
        height: 14px;
        overflow: hidden;
    }

    p {
        margin: 0;
        color: $color-white;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @include media('phone-small') {
            font-size: 14px;
        }
    }
}

@keyframes show-notices {
    0% {
        bottom: -50px;
    }
    5%, 95% {
        bottom: 40px;
    }
    100% {
        bottom: -50px;
    }
}