$color-grey: var(--wp--preset--color--glimp-grey, #F2F2F2);
$color-black: var(--wp--preset--color--glimp-black, #1A1A1A);
$color-white: var(--wp--preset--color--glimp-white, #FFFFFF);
$color-primary: var(--wp--preset--color--glimp-primary, #9E58F7);
$color-secondary: var(--wp--preset--color--glimp-secondary, #5E75EF);
$color-red: var(--wp--preset--color--glimp-red, #ED272D);
$color-dark-grey: var(--wp--preset--color--glimp-dark-grey, #838383);
$color-grey-active: #D8DAE0;
$color-gold-star: #FFC979;