@import '../mixins';

$header-height: 160px;
$header-height-tablet-full: 182px;
$header-height-tablet-simple: 70px;
$header-height-phone-full: 160px;
$header-height-phone-simple: 60px;
$conten-size: var(--wp--style--global--content-size, 1290px);