@import '../../assets/styles/variables';
@import '../../assets/styles/placeholders';
@import '../../assets/styles/mixins';

.wp-block-glimp-post-sidebar {
    gap: 12px;
    order: 2;
    position: sticky;
    top: calc(var(--header-height, 100px) + 20px);
    right: 0;
    width: 34%;

    &.show {
        @extend %flex-column;

        @include media('desktop') {
            display: none;
        }
    }
}