@import '../assets/styles/variables';

.wp-block-glimp-sidebar {
    padding: 0;
    list-style: none !important;
    position: sticky;
    left: 0;
    top: $header-height;
    height: fit-content;
    flex-basis: 310px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    z-index: 10;

    &__navlink>* {
        display: block;
        max-width: 310px;
        border-radius: 12px;
        padding: 16px 20px;
        color: $color-black;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        box-sizing: border-box;
        box-shadow: $box-shadow;

        &:hover {
            color: $color-black;
            background-color: $color-grey;
        }

    }
    
    @include media('tablet') {
        background-color: $color-white;
        flex-basis: auto;
        flex-direction: row;
        overflow-x: auto;
        padding: 12px 0;
        width: 100%;
        top: $header-height-tablet-full;
        transition: all 0.3s;
        z-index: 5;

        &__navlink>* {
            white-space: nowrap;
            font-size: 16px;
            font-weight: 500;
            padding: 10px 16px;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &.top {
            position: fixed;
            top: $header-height-tablet-simple;
            width: auto;
            left: 20px;
            right: 20px;
            z-index: 12;
        }
    }

    @include media('phone') {
        top: $header-height-phone-full;

        &.top {
            top: $header-height-phone-simple;
        }
    }
}
