.wp-block-glimp-info-with-emoji {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

@media screen and (max-width: 781px) {
    .wp-block-glimp-info-with-emoji {
        gap: 8px 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}