@import '../../assets/styles/mixins';

.wp-block-glimp-bundles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 417px;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (max-width: 1250px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    @include media('phone') {
        grid-template-rows: 235px 221px 221px;
    }
}