@import '../assets/styles/mixins';
@import '../assets/styles/variables';

.glimp-preview {
    img {
        border-radius: 14px;
        min-width: 143px;
        object-fit: cover;
    }

    @include media('tablet') {
        width: 100vw;
        transform: translateX(-20px);

        .wp-block-image {
            margin-bottom: 12px;
        }

        img {
            border-radius: 0;
        }
    }
}

.glimp-shop {
    margin-top: 120px;
    gap: 20px;
    justify-content: space-between;

    &__left {
        min-width: 60px;
    }

    @include media('tablet') {
        margin-top: 60px;

        &__right {
            display: none;
        }

        .wp-block-heading {
            text-align: start;
            margin: 0;
        }
    }

    @include media('phone') {
        .wp-block-heading {
            font-size: 24px;
        }
    }
}

.glimp-recommend {
    gap: 40px;
    margin: 120px 0;

    &__heading {
        @include responsive-font-size(24px, 36px, 45px);
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin: 0 0 18px;
    }

    &__button {
        margin: 28px 0 0 !important;

        .wp-element-button {
            &:hover {
                background-color: $color-primary;
            }
        }
    }

    .wp-block-image {
        margin-bottom: 0;
    }

    @include media('tablet') {
        gap: 20px;
        margin-top: 60px;

        &__heading {
            margin-bottom: 12px;
        }
    }

    @include media('phone') {
        &__button {
            margin-top: 24px;
            width: 100%;

            .wp-element-button {
                width: 100%;
            }
        }
    }
}

.glimp-about {
    h2.wp-block-heading {
        @include responsive-font-size(24px, 36px, 45px);
    }

    h3.wp-block-heading {
        @include responsive-font-size(20px, 22px, 24px);
    }

    .wp-block-details {
        summary {
            @include summary;
            font-size: 14px;
        }
    }

    p, li {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    &__columns {
        gap: 20px;

        &-item {
            border-radius: 12px;

            p.glimp-about__columns-item-title {
                font-size: 22px;
                font-weight: 600;
                margin: 22px 0 12px;
            }

            img {
                width: 100%;
            }
        }
    }

    &__categories {
        gap: 20px;

        .wp-block-glimp-link-with-image {
            width: 198px;
            box-shadow: $box-shadow;
            border-radius: 12px;
        }

        @include media('phone') {
            gap: 8px;

            .wp-block-glimp-link-with-image {
                width: 48%;
            }
        }
    }

    &__table-wrapper {
        margin: 16px 0 24px;
        font-size: 14px;

        @include table('odd');
        overflow: auto;
        max-width: 100%;
    
        &::-webkit-scrollbar {
            display: none;
        }

        table {
            width: 100%;
        }

        th {
            text-align: start;
            white-space: nowrap;
        }

        tr {
            vertical-align: top;
        }

        td {
            min-width: 160px;
            box-sizing: border-box;
        }

        th, tr, td {
            padding: 20px;
        }
    }

    &__baner img {
        min-height: 135px;
        object-fit: cover;
    }
}