@import '../variables/colors';
@import './abstract';

@mixin checkbox {
    @include flex-layout(flex-start, flex-start);
    margin: 16px 0 0;
    cursor: pointer;

    &-input {
        width: 0;
        height: 0;
        opacity: 0;
        border: none;
        margin: 0;
    }

    &-checkmark {
        background-color: $color-grey;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        margin: 2px 12px 0 0;
        border-radius: 4px;
        position: relative;
        transition: all 0.2s;

        &::after {
            position: absolute;
            content: "";
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            margin: auto;
            top: -2px;
            width: 7px;
            height: 4px;
            border: 2px solid $color-white;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
        }
    }

    &-label {
        margin: 0;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    &:hover &-checkmark {
        background-color: $color-black;

        &::after {
            opacity: 1;
        }
    }

    &-input:checked~&-checkmark {
        background-color: $color-primary;

        &::after {
            opacity: 1;
        }
    }

}

@mixin custom-checkbox {
    @include flex-layout(flex-start, center);
    cursor: pointer;
    margin: 26px 0 0;
    gap: 14px;
    width: fit-content;

    &:hover &__badge {
        background-color: $color-grey-active;
    }

    &__input {
        visibility: hidden;
    }

    &__badge {
        width: 49px;
        height: 28px;
        background-color: $color-grey;
        position: relative;
        border-radius: 26px;
        transition: all 0.1s;
    }

    &__badge:has(&__input:checked) {
        background: $color-black;
    }


    &__checkmark {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: calc(50% - 10px);
        left: 4px;
        background-color: $color-black;
        border-radius: 50px;
        transition: all 0.4s ease;
    }

    &__input:checked~&__checkmark {
        left: 25px;
        background-color: $color-white;
    }

    &__text {
        margin: 0;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

