@import '../variables/colors';
@import '../variables/icons';

@mixin select-label() {
    position: absolute;
    top: 14px;
    left: 19px;
    font-size: 14px;
    font-style: normal;
    line-height: normal !important;
    pointer-events: none;
}

@mixin select-arrow {
    background-image: $select-arrow-icon;
    background-repeat: no-repeat, repeat;
    background-size: 8px auto, 100%;
    background-position: right 20px top 50%, 0 0;
}

@mixin select-input() {
    @include select-arrow;
    height: auto !important;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: $color-grey;
    font-size: 16px !important;
    font-weight: 600;
    padding: 33px 25px 14px 20px !important;
    outline: none;

    &:hover {
        background-color: $color-grey-active;
    }
}
