@import '../assets/styles/mixins';

.wp-block-glimp-pros-and-cons {
    margin: 60px 0;
    
    &>h2 {
        @include title;
    }
    
    &>p {
        @include text;
    }
    
    &__contents {
        @include flex-layout(flex-start, flex-start);
        gap: 20px;
    }

    &__list {
        border-radius: 12px;
        padding: 30px;
        background-color: var(--wp--preset--color--glimp-grey, #F2F2F2);
        max-width: 635px;

        ol,
        ul {
            margin: 30px 0 0;
            padding: 0 0 0 20px;
        }

        li {
            margin-bottom: 22px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        p {
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }
    }
}