@import '../assets/styles/mixins';
@import '../assets/styles/placeholders';
@import '../assets/styles/variables';
@import '../assets/styles/mixins/submit-button';

.woocommerce div.product form.cart .bundled_product_summary {
    margin: 0 !important;
}

.bundle_form table.variations td.value,
.single-product div.product .bundle_form table.variations td.value {
    padding: 0 !important;
}

.product-summary {
    gap: 25px;
    margin-bottom: 82px;

    &__info {
        height: fit-content;
        position: sticky;
        top: $header-height;
        right: 0;

        &-wrapper {
            @extend %container-with-shadow;
        }

        &-delivery {
            @extend %container-with-shadow;

            p {
                margin: 0;
                @include flex-layout(space-between, center);
                color: $color-dark-grey;
                font-weight: 600;
                font-size: 16px;

                strong {
                    color: $color-black;
                    font-weight: 700;
                }

                &:first-of-type {
                    margin-bottom: 8px;
                }

                &:last-of-type {
                    margin-top: 16px;
                    font-size: 18px;
                }
            }
        }

        .wc-block-components-product-price {
            @include price-style(flex-end);
            @include price-size(32px, 22px);
        }

        &-price-prefix {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 8px 0 0;
            text-align: end;
        }

        form {
            margin: 24px 0 0 !important;

            &.variations_form table.variations tr {
                position: relative;
                @extend %flex-column;
                gap: 10px;
                margin-bottom: 12px;

                .label {
                    @include select-label;

                    label {
                        font-weight: 400;
                    }
                }

                &:last-of-type {
                    margin: 0;
                }
            }

            select {
                @include select-input;
            }

            &.bundle_form {
                flex-wrap: wrap;
                gap: 12px;

                .bundled_product_summary {
                    display: flex;
                    margin-bottom: 12px;

                    .bundled_item_col {
                        padding: 0;
                    }

                    .bundled_item_details_col {
                        flex: 1;
                    }
                }

                .bundled_product_title {
                    @include flex-layout(flex-start, center);
                    flex: 1;
                    font-size: 16px !important;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    padding: 14px 20px;
                    background-color: $color-grey;
                    border-radius: 10px;
                    margin: 0 !important;


                    &_link {
                        display: none;
                    }
                }

                .cart.bundle_data {
                    width: 100%;
                }

                .variations_form {
                    width: 100%;
                    display: flex;

                    .quantity {
                        margin: 0 0 0 12px !important;
                    }
                }

                .reset_bundled_variations_fixed,
                .bundled_product_images,
                .bundled_item_cart_details,
                thead,
                .bundled_item_images_col {
                    display: none !important;
                }

                .bundle_button {
                    display: flex;
                }

                .details {
                    display: flex;
                    width: 100% !important;
                    padding: 0 !important;
                    gap: 8px;
                    height: 100%;

                    &:has(.variations_form) {
                        flex-wrap: wrap;
                    }
                }

                .bundled_product {
                    width: 100%;
                }

                .variations tr {
                    position: relative;
                }

                .label {
                    @include select-label;
                }

                .quantity:not(.quantity_hidden) {
                    margin: 0;
                    display: flex !important;
                }

                table.bundled_products {
                    width: 100%;

                    td.bundled_item_col {
                        padding: 0 !important;
                    }
                }
            }
        }

        form.cart:not(.variations_form),
        .woocommerce-variation-add-to-cart {
            display: flex;
        }

        .single_add_to_cart_button,
        .go-to-cart-button {
            @include submit-button-primary-style;
            @include submit-button-size(10px 20px, auto, 53px);
            flex: 1;
        }

        .go-to-cart-button {
            max-width: calc(50% - 64px);
            margin: 0 0 0 12px;
        }
    }

    &__images {
        position: sticky;
        left: 0;
        top: $header-height;
        height: fit-content;
        z-index: 3;

        .wc-block-product-gallery-large-image .wc-block-product-gallery-large-image__inner-blocks {
            .wp-block-woocommerce-product-badge {
                z-index: 3;
            }

            .wc-block-components-product-badge {

                &__out-of-stock,
                &__sale,
                &__nikotinfrai {
                    @include badge-size(6px 26px, 18px, 9px);
                }
            }

        }

        .wc-block-product-gallery-thumbnails {
            position: relative;

            &:hover {
                .button-scroll-top {
                    opacity: 1;
                    top: 10px;
                }

                .button-scroll-bottom {
                    opacity: 1;
                    bottom: 10px;
                }
            }

            .button-scroll-top,
            .button-scroll-bottom {
                @include scroll-button();
                position: absolute;
                left: 50%;
                opacity: 0;
                transform: translateX(-50%) scale(0.7);

                &::after {
                    @extend %container-full-size-absolute;
                    content: '';
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(../assets/icons/arow.svg);
                }
            }

            .button-scroll-bottom {
                bottom: 0;

                &::after {
                    transform: rotate(90deg);
                }
            }

            .button-scroll-top {
                top: 0;

                &::after {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}

.woocommerce div.product form.cart div.quantity {
    @extend %flex-center;
    border-radius: 10px;
    background: $color-grey;
    border: 1px solid $color-grey;
    max-width: 104px;
    box-sizing: border-box;
    height: 53px;
    font-size: 16px;
    color: $color-black;
    padding: 0 6px;
    margin-right: 12px;

    &:has(input:focus) {
        border-color: $color-black;
    }

    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: inherit;
        color: inherit;
        width: 35px;
        outline: none;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &::-webkit-clear-button,
        &::-webkit-inner-spin-button {
            display: none;
        }
    }

    .quantity__increase,
    .quantity__decrease {
        @include quantity-button;
    }

    .quantity__decrease {
        font-size: 12px;
    }
}

.glimp-single {
    margin-top: 30px;

    &__title {
        @include responsive-font-size(28px, 28px, 24px);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.wc-block-grid__product-rating .wc-block-grid__product-rating__stars span::before,
.wc-block-grid__product-rating .star-rating span::before {
    color: #FFC979;
}

.wc-block-grid__product-rating .wc-block-grid__product-rating__stars::before,
.wc-block-grid__product-rating .star-rating::before {
    color: $color-grey;
}

@media screen and (max-width: 1240px) {
    .product-summary {
        &__info {
            &-danger {
                flex-direction: column;

                &>div {
                    flex-basis: 84px !important;
                    height: 84px;

                    &:first-of-type {
                        padding: 20px 0 20px 42px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 781px) {
    .product-summary {
        &__info {
            position: relative;
            top: 0;

            &-danger {
                &:not(.is-not-stacked-on-mobile)>.wp-block-column {
                    flex-basis: 84px !important;
                }
            }
        }

        &__images {
            position: relative;
            top: 0;
        }
    }

    .glimp-single {
        margin-top: 20px;
    }
}