<!-- wp:template-part {"slug":"header","theme":"glimp"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"20px","left":"20px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:20px;padding-left:20px"><!-- wp:woocommerce/breadcrumbs /-->

    <!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide","style":{"spacing":{"margin":{"bottom":"12px"}}}} /-->

    <!-- wp:term-description {"style":{"spacing":{"margin":{"top":"0px","bottom":"32px"}}}} /-->

    <!-- wp:woocommerce/store-notices /-->
</div>
<!-- /wp:group -->

<!-- wp:woocommerce/product-categories {"hasCount":false,"hasImage":true,"showChildrenOnly":true,"className":"glimp-category"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"20px","left":"20px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:20px;padding-left:20px">
    <!-- wp:group {"className":"glimp-main","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"top"}} -->
    <div class="wp-block-group glimp-main"><!-- wp:glimp/filters -->
        <div class="wp-block-glimp-filters">
            <p class="wp-block-glimp-filters__title">Produktfilter</p><!-- wp:glimp/filters-availability -->
            <label class="wp-block-glimp-filters-availability">
                <div class="wp-block-glimp-filters-availability__badge">
                    <input class="wp-block-glimp-filters-availability__input" type="checkbox"/>
                    <span class="wp-block-glimp-filters-availability__checkmark"></span>
                </div>
                <p class="wp-block-glimp-filters-availability__text">In Stock</p>
            </label>
            <!-- /wp:glimp/filters-availability -->

            <!-- wp:glimp/filters-item -->
            <div class="wp-block-glimp-filters-item">
                <p class="wp-block-glimp-filters-item__label">Marken</p>
                <div class="wp-block-glimp-filters-item__content"><!-- wp:glimp/filters-attribute {"id":"3"} /--></div>
            </div>
            <!-- /wp:glimp/filters-item -->

            <!-- wp:glimp/filters-item -->
            <div class="wp-block-glimp-filters-item">
                <p class="wp-block-glimp-filters-item__label">Anzahl der Züge</p>
                <div class="wp-block-glimp-filters-item__content">
                    <!-- wp:glimp/filters-attribute {"id":"4","type":"buttons"} /--></div>
            </div>
            <!-- /wp:glimp/filters-item -->
        </div>
        <!-- /wp:glimp/filters -->

        <!-- wp:glimp/all-products /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:html -->
    <div class="loading-observer"></div>
    <!-- /wp:html -->

    <!-- wp:glimp/discovery /-->

    <!-- wp:glimp/spectrum /-->

    <!-- wp:glimp/listing /-->

    <!-- wp:glimp/pros-and-cons {"type":"archive"} /-->

    <!-- wp:glimp/technical-features /-->

    <!-- wp:glimp/faqs {"type":"archive"} /-->

    <!-- wp:glimp/overview /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"glimp"} /-->