<!-- wp:template-part {"slug":"header","theme":"glimp","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"80px","bottom":"80px"},"padding":{"right":"20px","left":"20px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:80px;margin-bottom:80px;padding-right:20px;padding-left:20px">
	<!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
	<!-- wp:post-content {"align":"wide"} /-->
	<!-- /wp:woocommerce/page-content-wrapper -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"glimp","tagName":"footer"} /-->