.wp-block-glimp-product-description {
    margin-bottom: 44px;
    summary::marker {
        display: none;
    }
    summary {
        list-style: none;
        margin-bottom: 16px;
        color: #838383;
    }
    summary:hover {
        color: #1a1a1a;
        cursor: pointer;
    }
    summary::-webkit-details-marker {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .wp-block-glimp-product-description {
        margin-bottom: 16px;
    }
}