@import '../../assets/styles/mixins';

.wp-block-glimp-post-wrapper {
    margin-top: 32px;
    padding: 0 20px;
    
    &.has-sidebar {
        @include flex-layout(flex-start, flex-start);
        gap: 30px;

        &>div {
            width: 64%;
        }
    }

    @include media('tablet') {
        margin-top: 24px;
    }
}