@import './assets/styles/mixins';
@import './assets/styles/placeholders';
@import './assets/styles/variables';
@import './assets/styles/mixins/submit-button';

.glimp-footer {
    &__top {
        margin-bottom: 60px;
    }

    &__heading {
        @include responsive-font-size(22px, 25px, 25px);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 0 24px;
    }

    &__main {
        margin-bottom: 60px;
        border-bottom: $grey-line;
        padding-bottom: 20px;

        &-menu {
            gap: 84px;
        }

        &-col {
            @extend %flex-column;
            gap: 24px;

            p {
                margin: 0;
            }
        }
    }

    &__subscribe {
        display: flex;
        gap: 8px;
        max-width: 480px;
        margin-bottom: 12px;
    
        &-input {
            flex: 1;
            max-width: 338px;
            box-sizing: border-box;
            padding: 16px 20px;
            border-radius: 12px;
            border: none;
            background-color: $color-grey;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            outline: none;
            
            &::placeholder {
                color: $color-grey-active;
            }
    
            &:focus {
                background-color: $color-grey-active;
            }
        }
    
        &-button {
            @include submit-button-secondary-style;
            @include submit-button-size(16px 32px);
            flex-shrink: 0;
        }
    }

    &__bottom {
        border-bottom: $grey-line;
        gap: 100px;
        padding-bottom: 60px;

        &-row {
            gap: 12px 28px;
        }

        &-versands {
            gap: 32px;
        }
    }

    &__under {
        margin: 44px 0;

        &-payments {
            gap: 46px;
        }
    }

    &__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        margin: 0;

        a {
            text-decoration-line: underline;
            font-size: inherit;
        }
    }

    .wp-block-navigation-item__content:hover {
        color: $color-primary;
    }
}