@import './assets/styles/mixins';
@import './assets/styles/placeholders';
@import './assets/styles/variables';
@import './assets/styles/mixins/submit-button';

.glimp-footer {
    .wp-block-image {
        margin: 0;
    }

    &__top {
        margin-bottom: 60px;
    }

    &__heading {
        @include responsive-font-size(18px, 22px, 25px);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 0 24px;
    }

    &__main {
        margin-bottom: 60px;
        border-bottom: $grey-line;
        padding-bottom: 44px;

        &-menu {
            gap: 84px;
            margin-bottom: 0;

            @include media('desktop-large') {
                gap: 10px;
                justify-content: space-between;
            }
        }

        &-right {
            @extend %flex-column;
            justify-content: space-between;
            min-width: 385px;
        }

        &-col {
            @extend %flex-column;
            gap: 24px;

            p {
                margin: 0;
            }
        }
    }

    &__social {
        gap: 20px;

        .wp-block-glimp-link-with-image {
            width: 25px;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__subscribe {
        display: flex;
        gap: 4px;
        max-width: 480px;
        margin-bottom: 12px;

        &-input {
            flex: 1;
            max-width: 338px;
            box-sizing: border-box;
            padding: 16px 20px;
            border-radius: 12px;
            border: none;
            background-color: $color-grey;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            outline: none;

            &::placeholder {
                color: $color-grey-active;
            }

            &:focus {
                background-color: $color-grey-active;
            }
        }

        &-button {
            @include submit-button-secondary-style;
            @include submit-button-size(16px 32px);
            flex-shrink: 0;
        }
    }

    &__bottom {
        border-bottom: $grey-line;
        gap: 100px;
        padding-bottom: 60px;

        &-row {
            gap: 12px 28px;
        }

        &-versands {
            gap: 32px;
        }

        &-mitglied {
            gap: 32px;
            align-items: flex-end;

            .wp-block-glimp-link-with-image {
                width: 75px;
                transition: all 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__trusted {
        gap: 16px;
        
        .wp-block-image {
            width: 50px;
        }
    }

    &__under {
        margin: 44px 0;

        &-payments {
            gap: 46px;
        }
    }

    &__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        margin: 0;

        a {
            text-decoration-line: underline;
            font-size: inherit;
        }
    }

    .wp-block-navigation-item__content:hover {
        color: $color-primary;
    }

    @include media('desktop') {
        &__main-right {
            order: -1;
            max-width: 480px;
            gap: 16px;
        }

        &__bottom {
            gap: 10px;
        }

        &__main,
        &__under {
            flex-direction: column;
            gap: 60px;
        }
    }

    @include media('tablet') {
        &__main {

            &>.wp-block-column:first-of-type {
                width: 100%;
            }

            &-menu {
                gap: 40px 0;

                .wp-block-column {
                    max-width: 170px;
                }
            }
        }

        &__bottom {
            gap: 60px;
        }
    }

    @include media('phone') {

        p:not(.glimp-footer__heading),
        li,
        span,
        a {
            font-size: 15px;
        }

        &__social {
            gap: 10px;
            width: 100%;
            justify-content: space-between;

            .wp-block-glimp-link-with-image {
                width: 20px;
            }
        }

        &__main {
            margin-bottom: 40px;
            padding-bottom: 40px;

            &-menu {
                .wp-block-column {
                    max-width: 150px;
                }

                .wp-block-column:last-of-type {
                    max-width: 100%;
                    order: -1;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    &>* {
                        width: 150px;
                    }

                    .glimp-footer__heading {
                        width: 100%;
                    }
                }
            }

            &-col {
                gap: 16px 0;
            }

            &-right {
                min-width: 0;

                &>div {
                    justify-content: space-between !important;
                }
            }
        }

        &__subscribe {

            &-input {
                font-size: 15px;
                width: 100%;
            }
        }


        &__bottom {
            gap: 60px;
            margin-bottom: 40px;
            padding-bottom: 40px;
        }
    }
}