@import './assets/styles/variables';
@import './assets/styles/mixins';

.header-menu {
    gap: 20px;

    ul.header-menu {
        width: 100%;
        box-sizing: border-box;
    }

    .wp-block-navigation__responsive-container {
        max-width: 385px;
        padding: 40px 35px;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            display: none;
        }

        .wp-block-navigation__responsive-container-content {
            padding: 0;
        }

        &-open {
            svg {
                display: none;
            }

            &::before {
                content: '';
                width: 30px;
                height: 30px;
                display: block;
                background-image: $menu-icon;
                background-position: center;
            }
        }

        &-close {
            top: 5px;

            svg {
                display: none;
            }

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                background-image: $close-icon-white;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        @include media('phone') {
            max-width: 100%;
        }
    }

    .divider {
        width: 100% !important;
        min-height: 1px;
        background-color: rgba(255, 255, 255, 0.30);
    }

    &__logo {
        width: 88px;
    }

    &__link {
        width: 100%;
        box-sizing: border-box;

        .wp-block-navigation-item__content {
            border-radius: 10px;
            width: 100%;
            box-sizing: border-box;
            display: block;
            padding: 17px 20px 17px 77px !important;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: relative;

            &:hover {
                background-color: $color-dark-grey;
            }
        }

        &_einweg-e-zigarette {
            .wp-block-navigation-item__content::before {
                content: $einweg-e-zigarette;
                position: absolute;
                left: 29px;
                top: 13px;
            }
        }

        &_pod-system {
            .wp-block-navigation-item__content::before {
                content: $pod-system;
                position: absolute;
                left: 24px;
                top: 13px;
            }
        }

        &_sets {
            .wp-block-navigation-item__content::before {
                content: $sets;
                position: absolute;
                left: 15px;
                top: 13px;
            }
        }

        &_marken {
            .wp-block-navigation-item__content::before {
                content: $marken;
                position: absolute;
                left: 28px;
                top: 16px;
            }
        }

        &_geschmacker {
            .wp-block-navigation-item__content::before {
                content: $geschmacker;
                position: absolute;
                left: 19px;
                top: 8px;
            }
        }

        &_angebote {
            .wp-block-navigation-item__content::before {
                content: $angebote;
                position: absolute;
                left: 29px;
                top: 16px;
            }
        }

        &_blog {
            .wp-block-navigation-item__content::before {
                content: $blog;
                position: absolute;
                left: 25px;
                top: 16px;
            }
        }

        &_whatsapp {
            .wp-block-navigation-item__content::before {
                content: $whatsapp;
                position: absolute;
                left: 25px;
                top: 16px;
            }
        }
    }
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    transition: background-size 0.4s ease-in-out;
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-size: 2px 200px;
    background-position: 0 0%;
    background-repeat: repeat-x;

    @include media('tablet') {
        &.hidden {
            transition: background-size 0.2s ease-in-out;
            background-size: 2px 50px;

            .header {
                &__search {
                    transform: translateY(-125px);
                }
            }

            .wp-block-glimp-marquee {
                transform: translateY(-125px);
            }
        }
    }
}

.header {
    &__main {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            height: 62px;
            background-color: $color-white;
            z-index: -5;
        }
    }

    &__search {
        flex: 1;
        transition: all 0.3s;

        .dgwt-wcas-sf-wrapp {
            padding: 0;

            button.dgwt-wcas-search-submit {
                top: 11px;
                left: 13px;
            }
        }
    }

    &__right {
        gap: 20px;
    }

    &__left {
        gap: 40px;
    }

    &__logo {
        width: 85px;
    }


    @include media('tablet') {
        &__search {

            z-index: -10;

            .dgwt-wcas-search-wrapp {
                max-width: 100%;
            }

            width: 100%;
            flex: auto;
            order: 2;
        }
    }

    @include media('phone') {
        &__main {

            &::before {
                height: 50px;
            }
        }

        &__logo {
            width: 70px;
        }

        &__left {
            gap: 20px;
        }

    }
}

@keyframes overlay-menu__fade-in-animation {
    0% {
        opacity: 0;
        transform: translateX(-1.5em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}