@import './assets/styles/variables';
@import './assets/styles/mixins';
@import './assets//styles/mixins/submit-button';

@mixin serch-modal {
    border: $grey-line !important;
    box-shadow: $box-shadow;
    border-radius: 15px !important;
    max-height: calc(100vh - 120px) !important;
    overflow-y: auto !important;
    height: fit-content !important;

    &::-webkit-scrollbar {
        display: none;
    }
}

.header-menu {
    gap: 20px;

    ul.header-menu {
        width: 100%;
        box-sizing: border-box;
    }

    .wp-block-navigation__responsive-container {
        max-width: 385px;
        padding: 40px 35px !important;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            display: none;
        }

        .wp-block-navigation__responsive-container-content {
            padding: 0 !important;
        }

        &-open {
            svg {
                display: none;
            }

            &::before {
                content: '';
                width: 30px;
                height: 30px;
                display: block;
                background-image: $menu-icon;
                background-position: center;
            }
        }

        &-close {
            top: 5px;

            svg {
                display: none;
            }

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                background-image: $close-icon-white;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .divider {
        width: 100% !important;
        min-height: 1px;
        background-color: rgba(255, 255, 255, 0.30);
    }

    &__logo {
        width: 88px;
    }

    &__link {
        width: 100%;
        box-sizing: border-box;

        .wp-block-navigation-item__content {
            border-radius: 10px;
            width: 100%;
            box-sizing: border-box;
            display: block;
            padding: 17px 20px 17px 77px !important;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: relative;

            &:hover {
                background-color: $color-dark-grey;
            }
        }

        &_einweg-e-zigarette {
            .wp-block-navigation-item__content::before {
                content: $einweg-e-zigarette;
                position: absolute;
                left: 29px;
                top: 13px;
            }
        }

        &_pod-system {
            .wp-block-navigation-item__content::before {
                content: $pod-system;
                position: absolute;
                left: 24px;
                top: 13px;
            }
        }

        &_sets {
            .wp-block-navigation-item__content::before {
                content: $sets;
                position: absolute;
                left: 15px;
                top: 13px;
            }
        }

        &_marken {
            .wp-block-navigation-item__content::before {
                content: $marken;
                position: absolute;
                left: 28px;
                top: 16px;
            }
        }

        &_geschmacker {
            .wp-block-navigation-item__content::before {
                content: $geschmacker;
                position: absolute;
                left: 19px;
                top: 8px;
            }
        }

        &_angebote {
            .wp-block-navigation-item__content::before {
                content: $angebote;
                position: absolute;
                left: 29px;
                top: 16px;
            }
        }

        &_blog {
            .wp-block-navigation-item__content::before {
                content: $blog;
                position: absolute;
                left: 25px;
                top: 16px;
            }
        }

        &_whatsapp {
            .wp-block-navigation-item__content::before {
                content: $whatsapp;
                position: absolute;
                left: 25px;
                top: 16px;
            }
        }
    }
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-size: 2px 200px;
    background-position: 0 0%;
    background-repeat: repeat-x;
    border-bottom: $grey-line;

    &:has(.wp-block-glimp-marquee) {
        border-bottom: none;
    }

    &:has(.has-modal-open),
    &:has(.wp-block-glimp-account__popup.open) {
        z-index: 50;
    }

    .header__main {

        &:has(.has-modal-open),
        &:has(.wp-block-glimp-account__popup.open) {
            z-index: 50;
        }
    }

    @include media('tablet') {
        &.hidden {
            transition: all 0.2s ease-in-out;
            background-size: 2px 50px;
            border-bottom-color: transparent;

            .header {
                &__main::before {
                    border-bottom: $grey-line;
                }

                &__search {
                    transform: translateY(-125px);
                }
            }

            .wp-block-glimp-marquee {
                transform: translateY(-125px);
            }
        }
    }
}

.header {
    &__main {
        position: relative;

        &>div {
            gap: 15px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            height: $header-height-tablet-simple;
            background-color: $color-white;
            z-index: 1;
        }
    }

    &__search {
        flex: 1;
        transition: all 0.3s;
        z-index: 2;

        .dgwt-wcas-sf-wrapp {
            padding: 0;

            button.dgwt-wcas-search-submit {
                left: 13px;
                top: 11px;
            }
        }
    }

    &__right {
        gap: 20px;
        z-index: 2;
    }

    &__left {
        gap: 40px;
        z-index: 3;
    }

    &__logo {
        width: 85px;
    }


    @include media('tablet') {
        &__search {
            width: 100%;
            flex: auto;
            order: 2;

            .dgwt-wcas-search-wrapp {
                max-width: 100%;

                input {
                    font-size: 15px !important;
                    line-height: 130% !important;
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                }

                button.dgwt-wcas-search-submit {
                    top: 5px;

                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }

    @include media('phone') {
        &__main {

            &::before {
                height: $header-height-phone-simple;
            }
        }

        &__logo {
            width: 70px;
        }

        &__left {
            gap: 20px;
        }

    }
}


.dgwt-wcas-sf-wrapp {
    padding: 0;

    button.dgwt-wcas-search-submit {
        top: 11px;
        left: 13px;
    }
}

.dgwt-wcas-suggestions-wrapp {
    @include serch-modal;
}

.dgwt-wcas-open-pirx .dgwt-wcas-suggestions-wrapp>.dgwt-wcas-suggestion:not(.dgwt-wcas-suggestion-headline, .dgwt-wcas-suggestion-more) {
    box-shadow: $box-shadow;
    border-radius: 12px;
    padding: 8px;
    margin: 0 20px 8px;
    width: calc(100% - 40px);
    text-decoration-line: none !important;
}

.dgwt-wcas-suggestion-selected,
.dgwt-wcas-has-headings .dgwt-wcas-suggestion.dgwt-wcas-suggestion-tax.dgwt-wcas-suggestion-selected,
.dgwt-wcas-has-headings .dgwt-wcas-suggestion.dgwt-wcas-suggestion-tax:hover {
    background-color: $color-grey;
}

.dgwt-wcas-has-headings {
    .dgwt-wcas-suggestion-headline .dgwt-wcas-st {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        border: none;
    }

    .dgwt-wcas-suggestion-tax .dgwt-wcas-st {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;

        strong {
            color: $color-black;
        }

        .dgwt-wcas-st-breadcrumbs {
            color: $color-black;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
        }
    }
}

.dgwt-wcas-st strong,
.dgwt-wcas-sd strong {
    color: $color-black !important;
}

.dgwt-wcas-st-title {
    @include product-card-title(16px);
}

.dgwt-wcas-si {
    width: 60px !important;
    overflow: hidden;

    img {
        border: none;
        max-height: 100%;
        padding: 0;
        background-color: transparent;
        aspect-ratio: 1/1;
    }
}

.dgwt-wcas-sp {
    font-size: 0;
    @include price-style();
    @include price-size(20px, 14px);

    .amount::after {
        content: '';
    }

    &>span {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include price-style();
        @include price-size(20px, 14px);

        .amount::after {
            content: '';
        }
    }
}

.dgwt-wcas-details-wrapp {
    @include serch-modal;
    margin-left: 8px;
}

.dgwt-wcas-datails-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dgwt-wcas-details-title-tax {
    text-transform: capitalize;
    font-weight: inherit;
}

.dgwt-wcas-tax-product-details {
    box-shadow: $box-shadow;
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 8px;
}

.dgwt-wcas-tpd-image {
    border: none;
    aspect-ratio: 1/1;
    height: 100%;
    width: auto;
    max-width: 80px;
    max-height: 80px;
    padding: 0;
    overflow: hidden;

    img {
        height: 100%;
    }
}

.dgwt-wcas-tpd-rest {
    flex: 1;
}

.dgwt-wcas-tpd-rest-title {
    @include product-card-title(14px);
}

.woocommerce {
    .star-rating {
        &::before {
            color: $color-grey;
        }

        span::before {
            color: $color-gold-star;
        }
    }
}

.dgwt-wcas-pd-rating {
    letter-spacing: 2px;

    .star-rating {
        width: 6.1em;
    }

    .dgwt-wcas-pd-review {
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.dgwt-wcas-tpd-price {
    @include price-style();
    @include price-size(16px, 13px);
}

.dgwt-wcas-details-inner.dgwt-wcas-details-inner-active {
    padding-top: 10px;
}

.dgwt-wcas-details-main-image {
    border: none;

    img {
        border-radius: 12px !important;
        margin: 0;
    }
}

.dgwt-wcas-pd-price {
    @include price-style();
    @include price-size(24px, 16px);
}

.dgwt-wcas-pd-addtc-form {
    flex-direction: column;
    gap: 10px;

    &>* {
        width: 100%;
    }

    .quantity {
        display: none;
        // @extend %flex-center;
        // background-color: $color-grey;
        // margin: 0;
        // border-radius: 12px;

        // .quantity__decrease,
        // .quantity__increase {
        //     @extend %flex-center;
        //     height: 100%;
        //     width: 15%;
        //     font-size: 16px;
        //     font-style: normal;
        //     font-weight: 700;
        //     line-height: normal;
        //     cursor: pointer;
        // }

        // input {
        //     flex: 1;
        //     max-width: 30%;
        //     background-color: transparent;
        //     height: 50px;
        //     border: none;
        //     padding: 0;
        //     font-size: 16px;
        //     font-style: normal;
        //     font-weight: 700;
        //     line-height: normal;

        //     &::-webkit-outer-spin-button,
        //     &::-webkit-inner-spin-button {
        //         -webkit-appearance: none;
        //         margin: 0;
        //     }
        // }
    }

    .wp-element-button,
    .wp-block-button__link {
        @include submit-button-primary-style;
        @include submit-button-size(16px, 100%, 50px);
        @extend %flex-center;
    }
}

.dgwt-wcas-st-more {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: none;
    color: $color-dark-grey;
}

@keyframes overlay-menu__fade-in-animation {
    0% {
        opacity: 0;
        transform: translateX(-1.5em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}