@import '../assets/styles/mixins/submit-button';
@import '../assets/styles/variables';

.wp-block-glimp-subscribe-form {
    display: flex;
    gap: 8px;
    max-width: 480px;

    &__input {
        flex: 1;
        max-width: 338px;
        box-sizing: border-box;
        padding: 16px 20px;
        border-radius: 12px;
        border: none;
        background-color: $color-grey;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        outline: none;
        
        &::placeholder {
            color: $color-grey-active;
        }

        &:focus {
            background-color: $color-grey-active;
        }
    }

    &__button {
        @include submit-button-secondary-style;
        @include submit-button-size(16px 32px);
        flex-shrink: 0;
    }
}